button {
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    color: white;
    background-color: rgb(0, 92, 157);
}

button:hover {
    background-color: rgb(0, 102, 174);
}

button:active {
    background-color: rgb(0, 110, 157);
}