body {
  background-color: #1f2021;
}

h1,
h2,
h3,
h4,
h5,
p,
.navbar-link-elem {
  color: antiquewhite;
}

.home-welcome-wrapper,
.home-stat-wrapper {
  background-color: #25292d;
}

.welcome-banner {
  background-color: #28333d;
}