.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(4, 14, 32, 0.471);
  backdrop-filter: blur(8px);

  padding: 5% 0;
}

.modal-overlay.open {
    display: block;
}

.modal-container {
  display: flex;
  flex-direction: column;
  min-width: 55%; 
  padding: 2%;
  background-color: var(--primary-color);
  border-radius: 8px;
}

.modal-content {
  display: flex;
  justify-content: center;
  height: 90%;
  overflow-x: scroll;
}

.exercise-list-ul {
  display: flex;
  flex-direction: column;
  min-height: 40%;
  width: 100%;
}

ul {
  display: flex;
}

.modal-close-button {
  height: 20px;
  width: 20px;
  color: antiquewhite;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(228, 58, 24);
  align-self: end;
}